.m{
    margin-top: -12%!important;
}
.s{
    background-color: rgb(86 17 177);
    color: whitesmoke;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.f{
    background-color: rgb(251 249 245);    
}
.r{
    background-color: white;
}
